<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Team1_GiftwrapSlider::team1giftwrapslider" title="Module Gift" module="Team1_GiftwrapSlider" sortOrder="102" resource="Team1_GiftwrapSlider::team1giftwrapslider" parent="Magento_Backend::content"/>
        <add id="Team1_GiftwrapSlider::team1giftwrap" title="Manage Giftwraps" module="Team1_GiftwrapSlider" sortOrder="21" parent="Team1_GiftwrapSlider::team1giftwrapslider" action="team1giftwrapslider/giftwrap/index" resource="Team1_GiftwrapSlider::team1giftwrap"/>
    </menu>
</config>
